#root {
  height: 100vh;
  width: 100vw;
  background: lighten(lightgray, 10%);
}

.form-wrapper {
  width: 202px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .copyright {
    text-align: center;
    width: 200px;
    margin-top: 1rem;
    font-size: 1rem;
    color: #999;
  }
}

.login-form {
  margin: 0 auto;

  header {
    img {
      width: 85%;
    }
  }

  .input {
    display: block;
    margin-bottom: 1rem;
    width: 300px;
  }

  button {
    width: 202px;
  }

}